.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-left: 40px;
   
}

.cars-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    text-align: center;
    margin-right: 30px;
    
}