.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-left: 40px;
    padding-bottom: 70px;
    padding-top: 30px;
    background-color: rgb(255, 224, 195);
   
}

.cars-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    text-align: center;
    margin-right: 30px;
    
}